<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">datos de servidor</property>
		<property name="connection.username">usuario</property>
		<property name="connection.password">contraseña</property>
		
		
      
      <!-- List of XML mapping files -->
      <mapping resource = "producto.hbm.xml"/>
      
   </session-factory>
</hibernate-configuration>